---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import H1 from "../components/H1.astro";
import { SITE_DESCRIPTION } from "../constants";
---

<MainLayout title="Personal Website.">
  <main></main>
</MainLayout>
