---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<Astronav>
  <MenuItems class="hidden lg:flex">
    <ul class="flex flex-col lg:flex-row lg:gap-10">
      <li><a class="hover:text-teal-400" href="/Personal-site">Home</a></li>
      <li>
        <a class="hover:text-teal-400" href="/Personal-site/Portfolio"
          >Portfolio</a
        >
      </li>
      <li>
        <a class="hover:text-teal-400" href="/Personal-site/Blog">Blog</a>
      </li>
    </ul>
  </MenuItems>
</Astronav>
